MacOS/function_tracker.json
function_tracker.json
config/password.json
config/game.json
config/path.json
config/path_code.json
temp/*
test/*
public/lite_setup/assets/*
public/lite_setup/plugin/*
*.pyc